# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Render y Python
*.db
*.sqlite3
instance/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.DS_Store
.vscode/
